.sidebar-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: max(25vw, 350px) 1fr;
  grid-template-rows: 100%;
  overflow: hidden;

  &__left-container {
    height: 100%;
  }
  &__right-container {
    height: 100%;
    overflow-y: auto;
    background-color: $body-background-color;
  }
  @media screen and (max-width: $mq-phone-lg) {
    & {
      grid-template-columns: 0px 1fr;
    }
  }
}
