.container {
  width: 85vw;
  margin: 0 auto;
  max-width: 1500px;
}
.heading {
  font-size: $font-size-xxl;
  font-weight: 500;
  &__sm {
    font-size: $font-size-xl;
    font-weight: 500;
  }
  &__lg {
    font-size: $font-size-xxxl;
    font-weight: 600;
  }
}
.primary_colored {
  color: $primary-color;
  &__bg {
    background-color: $primary-color;
  }
}
.card {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}
.heading_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  background-color: $primary-color;
  color: $white-color;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-align: center;
  &__full-width {
    width: 100%;
  }
  &__lg {
    font-size: $font-size-lg;
    font-weight: 500;
    padding: 10px 15px;
  }
  &__xl {
    font-size: $font-size-xxl;
    font-weight: 700;
    padding: 10px 15px;
  }
  &__outlined {
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    transition: all 0.1s linear;
    &:hover {
      background-color: $primary-color;
      color: #fff;
    }
  }
  &__compact {
    width: fit-content;
    height: fit-content;
  }
}
.c_form {
  .row {
    margin: 20px 0;
    display: grid;
    label {
      display: block;
      font-size: $font-size-sm;
      color: $text-color-light;
      margin-bottom: 5px;
    }
    input {
      width: 100%;
      height: $font-size-md * 1.5 + 1.6rem;
      padding: 0.8rem;
      border-radius: 10px;
      @include border;
    }
    .rich_text_editor {
      height: 350px;
      padding-bottom: 2px;
      @include border;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  .half_input {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
.seperator {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
.bold_text {
  font-weight: 700;
}
//Section: Layout classes
.section-layout {
  display: grid;
  @include column-count(1);
  grid-gap: 20px;
}
@for $i from 1 through 4 {
  .column-layout-#{$i} {
    @include column-count(#{$i});
  }
}
@media only screen and (max-width: $mq-desktop) {
  .column-layout-3 {
    @include column-count(2);
  }
}
@media only screen and (max-width: $mq-table) {
  @for $i from 1 through 4 {
    @if (#{$i} == 4) {
      .column-layout-#{$i} {
        @include column-count(2);
      }
    } @else {
      .column-layout-#{$i} {
        @include column-count(1);
      }
    }
  }
}
//Section: End Layout classes
// Section: Margin Padding classes
@for $i from 1 through 4 {
  .m-#{$i*5} {
    margin: #{$i * 5}px;
  }
  .mt-#{$i*5} {
    margin-top: #{$i * 5}px;
  }
  .mb-#{$i*5} {
    margin-bottom: #{$i * 5}px;
  }
  .ml-#{$i*5} {
    margin-left: #{$i * 5}px;
  }
  .mr-#{$i*5} {
    margin-right: #{$i * 5}px;
  }
  .p-#{$i*5} {
    padding: #{$i * 5}px;
  }
  .pt-#{$i*5} {
    padding-top: #{$i * 5}px;
  }
  .pb-#{$i*5} {
    padding-bottom: #{$i * 5}px;
  }
  .pl-#{$i*5} {
    padding-left: #{$i * 5}px;
  }
  .pr-#{$i*5} {
    padding-right: #{$i * 5}px;
  }
}
// !Section: End Margin Padding
