.form-container {
  padding: 30px;
  width: 80%;
  max-width: 500px;
  .seperator {
    margin-bottom: 25px;
  }
  .btn {
    border-radius: 5px;
    line-height: 1.1;
  }

  &.login-form {
    .forgot-password-text {
      cursor: pointer;
      font-size: $font-size-sm;
      margin-bottom: 10px;
    }
  }

  &.signup-form {
    .log-in-text {
      span {
        font-size: $font-size-sm;
      }
    }
  }

  @media screen and (max-width: $mq-phone-lg) {
    & {
      width: 95%;
    }
  }
}
